extends base.pug

block content
    form(method="POST", enctype="multipart/form-data")
        img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
        label(for="avatar") Upload a photo
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(type="submit", value="Edit")
    br
    form(method="POST")
        if errorMessage
            h4 ❌ #{errorMessage}
        input(type="email", name="email", placeholder="Email", value=loggedInUser.email, required)
        input(type="text", name="username", placeholder="Username", value=loggedInUser.username, required)
        input(type="text", name="name", placeholder="Name", value=loggedInUser.name, required)
        input(type="text", name="location", placeholder="Location", value=loggedInUser.location, required)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            br
            a(href="change-password") Change Password &rarr;
