extends base.pug
include mixins/video

block content
    form
        if (loggedInUser.socialOnly)
            img(src=user.avatarUrl, width="100", height="100")
        else    
            img(src="/" + user.avatarUrl, width="100", height="100")
    br
    form
        h4=user.email 
        h4=user.username 
        h4=user.name 
        h4=locatin
        if user.id === loggedInUser._id
            br
            a(href="edit") Edit Profile &rarr;
    each video in user.videos
        +video(video)
    else
        li Sorry nothing found.
        